<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIQnnjzygXfGzzDy9qA1HxoloV483fbaU</string>
	<key>GCM_SENDER_ID</key>
	<string>632797220051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simurgApp.akilliBorsa</string>
	<key>PROJECT_ID</key>
	<string>akilli-borsa</string>
	<key>STORAGE_BUCKET</key>
	<string>akilli-borsa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632797220051:ios:3acc2dd6ae43a340ba1826</string>
</dict>
</plist>